<!-- ------ FOOTER ------ -->

<div>
	<b style="letter-spacing: 3px; font-size: 20px;">Contact Info</b>
	<br>
	<i>
		iGEM team Hogeschool Rotterdam
		<br>
		igemteam.HR@gmail.com
		<br>
		+31 10 7944554
	</i>
	<div class="multiple-items-footer">
		<a class="item-footer" href="https://www.linkedin.com/company/igem-rotterdam/" target="_blank" style="background: none;">
			<img src="http://2018.igem.org/wiki/images/8/84/T--Rotterdam_HR--linkedin.png" style="width: 100%; height: 100%;">
		</a>
		<a class="item-footer" href="https://www.facebook.com/IGEM-Team-Hogeschool-Rotterdam-145904849420037/" target="_blank" style="background: none;">
			<img src="http://2018.igem.org/wiki/images/e/e8/T--Rotterdam_HR--facebook.png" style="width: 100%; height: 100%;">
		</a>
		<a class="item-footer" href="https://www.instagram.com/igemhr/?hl=nl" target="_blank" style="background: none;">
			<img src="http://2018.igem.org/wiki/images/a/a6/T--Rotterdam_HR--instagram.png" style="width: 100%; height: 100%;">
		</a>
		<a class="item-footer" href="https://twitter.com/iGEM_HR_2018" target="_blank" style="background: none;">
			<img src="http://2018.igem.org/wiki/images/e/ee/T--Rotterdam_HR--twitter.png" style="width: 100%; height: 100%;">
		</a>
	</div>
</div>
