<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://2018.igem.org/Team:Rotterdam_HR/css/main?action=raw&ctype=text/css">

	<style>
		/*
		#page-name {
			color: goldenrod;
		}
		*/
		.under-construction {
			margin: 30px auto;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	</style>

</head>
<body>
<div id="header"></div>
<div id="navbar" style="position: -webkit-sticky;position: sticky;top: 0; width: 100%; z-index: 100;"></div>

<!-- ------ CONTENT START ------ -->

<div class="under-construction">
	<h1>Under construction</h1>
	<p>This page has no content yet.</p>		
</div>

<!-- ------ CONTENT END   ------ -->

<div id="footer"></div>
<script src="http://2018.igem.org/Team:Rotterdam_HR/javascript/main?action=raw&ctype=text/javascript"></script>
</body>
</html>
