[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"oauth2client" = "*"
google-api-python-client = "*"
apiclient = "*"

[dev-packages]

[requires]
python_version = "3.7"
